[user]
	name = Lucas Narciso
	email = lucasnar@gmail.com
	signingkey = 57F7E52C8BF1D035
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work

[commit]
	gpgsign = true

[core]
  excludesfile = ~/.global_gitignore
[credential]
	helper = osxkeychain
[hub]
	protocol = https
[alias]
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[init]
	defaultBranch = main
